<div class="landing col-md-12 text-center">
  <h1>Welcome to Bubble Bucket!</h1>
  <h3>we all have a dream so don't burst anyones bubble!</h3>
  <h3>click <span class="all-bubbles-button get-index">All Bubbles</span> to see what we're dreaming of..</h3>
  <!-- <h3></h3> -->

</div>
