// @import url('images/');
$pure-white: #fff;
$pure-black: #000;
$completed-gaols: #2c0eee;


.image-each-entry {
  background-image: url('images/bubbles-png-11409.png');
  background-size: cover;
  display: inline-block;
  height: 370px;
  justify-self: center;
  position: relative;
  width: 370px;
 }

.image-completed-entry {
  background-image: url('images/bubbles-png-11409.png');
  background-size: cover;
  display: inline-block;
  height: 370px;
  justify-self: center;
  position: relative;
  width: 370px;
}

.index-each-entry {
  color: $pure-white;
  display: inline-block;
  height: 170px;
  justify-self: center;
  left: 26%;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  top: 29%;
  width: 170px;
}

.show-completed-my {
  color: $pure-white;
  display: inline-block;
  height: 170px;
  justify-self: center;
  left: 26%;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  top: 29%;
  width: 170px;
}

.index-all-completed {
  color: $pure-white;
  display: inline-block;
  height: 170px;
  justify-self: center;
  left: 26%;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  top: 29%;
  width: 170px;
}

.entries-container {
  display: grid;
  justify-content: center;
  text-align: center;
}

.image-show-entry {
  background-image: url('images/bubbles-png-11409.png');
  background-size: cover;
  border-radius: 50%;
  display: inline-block;
  height: 400px;
  justify-self: center;
  padding: 0;
  position: relative;
  width: 400px;

}

.show-each-entry {
  // background-image: url('images/bubbles-png-11409.png');
  // background-size: cover;
  color: $pure-white;
  display: inline-block;
  height: 170px;
  justify-self: center;
  left: 27%;
  position: absolute;
  text-align: center;
  top: 20%;
  width: 170px;
}

.modal-content-circle {
  // background-image: url('images/bubbles-png-11409.png');
  background-size: cover;
  // border: 4px dashed red;
  border-radius: 50%;
  height: 600px;
  width: 600px;
}

.completed-gaols {
  border: 10px $pure-black solid;
  filter: alpha(opacity = 100);
  opacity: .5;
  zoom: 1;
}
