// @import url('images/');
$pure-white: #fff;
$pure-black: #000;




.index-each-entry {
  background-image: url('images/bubbles-png-11407.png');
  background-size: cover;
  color: $pure-white;
  display: inline-block;
  height: 345px;
  justify-self: center;
  order: 1;
  text-align: center;
  width: 345px;
}

.entries-show-container {
  display: grid;
  justify-content: center;
}

.entries-index-container {
  align-items: center;
  display: grid;
  justify-content: center;
}

.show-each-entry {
  background-image: url('images/bubbles-png-11407.png');
  background-size: cover;
  color: $pure-white;
  display: inline-block;
  height: 345px;
  justify-self: center;
  order: 1;
  text-align: center;
  width: 300px;
}

.modal-content-circle {
  background-image: url('images/bubbles-png-11407.png');
  background-size: cover;
  border: 10px solid $pure-black;
  border-radius: 50%;
  height: 600px;
  width: 600px;
}
