$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'entries';

$background-color: #75e73c;
$gradient-color: #083616;
$hover-color: #808080;
$text-color: #fff;

html {
  height: 100%;
}

body {
  background-image: radial-gradient(
    $background-color,
      $gradient-color
    );
  // height: 100%;
}

.container-fluid {
  padding: 0;
}

.menu-button {
  cursor: default;
  margin-right: 10px;
  margin-top: 7px;
}

a {
  cursor: default;
}

.landing {
  background-image: url('images/bubbles-png-11409.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  color: $text-color;
  height: 100vh;
  padding-top: 20%;
  text-align: center;
}

.all-bubbles-button {
  text-decoration: underline;
}

.all-bubbles-button:hover {
  color: $hover-color;
}
