$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'entries';

.menu-button {
  cursor: default;
  margin-right: 10px;
  margin-top: 7px;
}

a {
  cursor: default;
}

h1 {
  padding-top: 5%;
}
